body {
  font-family: 'Montserrat', sans-serif;
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("../img/tv-logo.jpg") center 100px no-repeat;
  background-color: #000;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.register-btn {
  background-color: #fff;
  color: #000;
  font-size: 17px;
  text-align: center;
  padding: 11px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}

.main-section {
  width: 80%;
  max-width: 1200px;
  margin-bottom: 50px;
}

.answer-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.answer {
  width: 314px;
  margin-right: 12px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 17px;
  background: url("../img/anwser_bg.jpg") no-repeat center / contain;
  border: none;
  color: #fff;
  transition: 0.2s linear ease-out 0.5s;
}

.answer:nth-child(2) {
  margin-left: 58px;
}

.answer:hover,
.chosen-answer {
  background-image: url("../img/anwser_hover_bg.jpg");
  cursor: pointer;
}

.answer:active,
.answer:focus {
  outline: none;
}

.answer-bg {
  background: url("../img/ans_line.gif") left 15px no-repeat;
  width: 1000px;
  padding-left: 148px;
}

.right-answer {
  animation: blink 1s 4;
}

.question {
  background: url(../img/question_bg.gif) no-repeat center / contain;
  font-size: 20px;
  padding: 25px 225px;
  margin-bottom: 20px;
  color: #fff;
  width: 1000px;
}

.answers-list {
  position: absolute;
  top: 200px;
  right: 20px;
  font-size: 16px;
}

.answers-list li {
  margin-top: 10px;
}

.step {
  background: url("../img/money_bg.gif") left top no-repeat;
  font-size: 16px;
  width: 173px;
  height: 20px;
  padding-top: 3px;
}

.step .num {
  color: #fff;
}

.step .money {
  color: #000;
  font-weight: 700;
}

.num {
  position: relative;
  left: 15px;
  color: rgb(225, 160, 46);
}

.money {
  margin-left: 25px;
  color: rgb(225, 160, 46);
  font-weight: 700;
}

.fire .money, .fire .num {
  color: #fff;
  font-weight: 700;
}

.dot {
  background: url("../img/dot.gif") 59px 0 no-repeat;
}

.hints-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}

.hint {
  width: 80px;
  height: 60px;
  background-image: url("../img/sprite.png");
  margin-right: 25px;
  cursor: pointer;
}

.used::before,
.used::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: red;
  position: relative;
}

.used::before {
  transform: rotate(35deg);
  top: 25px;
}

.used::after {
  transform: rotate(145deg);
  top: 25px;
}

.hint.hall, .hint.hall.used, .hint.hall.used:hover {
  background-position: -110px -10px;
}

.hint.hall:hover {
  background-position: -10px -10px;
}

.hint.fifty, .hint.fifty.used, .hint.fifty.used:hover {
  background-position: -10px -90px;
}

.hint.fifty:hover {
  background-position: -110px -90px;
}

.hint.call, .hint.call.used, .hint.call.used:hover {
  background-position: -210px -10px;
}

.hint.call:hover {
  background-position: -210px -90px;
}

.modal {
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: flex;
}

.modal-body {
  position: relative;
  width: 450px;
  min-height: 250px;
  padding: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: grey;
  font-size: 26px;
  cursor: pointer;
}

.modal-img {
  width: 50px;
  height: 50px;
}

.modal-message {
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  margin-top: 20px;
}

.modal-btn {
  min-width: 100px;
  padding: 15px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 21px;
  margin-top: 20px;
  cursor: pointer;
}

.hall-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 30px;
}

.hall-answer {
  margin: 20px 0;
  width: 20px;
  background-color: blue;
}

.transparent {
  color: transparent !important;
  cursor: not-allowed;
}

.transparent:hover {
  background: url("../img/anwser_bg.jpg") no-repeat (center / contain);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-input {
  padding: 15px 6px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 6px;
}

.login-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

@keyframes blink {
  0% {
    background: url("../img/anwser_bg.jpg") no-repeat center / contain;
  }

  100% {
    background: url("../img/anwser_right_bg.jpg") no-repeat center / contain;
  }
}
